*
!fw_gear_file_validator/
!tests/
!.dockerignore
!.gitignore
!.gitlab-ci.yml
!.pre-commit-config.yaml
!CONTRIBUTING.md
!Dockerfile
!FAQ.md
!LICENSE
!manifest.json
!poetry.lock
!pyproject.toml
!README.md
!requirements.txt
!requirements-dev.txt
!run.py